@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 229, 100%, 59%;
    --primary-foreground: 229, 80%, 59%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.5rem;
    --chart-1: ;
    --chart-2: ;
    --chart-3: ;
    --chart-4: ;
    --chart-5: ;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
    --chart-1: ;
    --chart-2: ;
    --chart-3: ;
    --chart-4: ;
    --chart-5: ;
  }

  @media (min-width: 768px) {
    .footerLinkStyle {
      @apply block after:block after:content-[''] after:absolute after:h-[3px] after:bg-blue-600 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-left;
    }
  }

  .h1 {
    @apply text-2xl font-extrabold tracking-tight text-center leading-none text-gray-900 md:text-4xl lg:text-5xl dark:text-white;
  }

  .description-p {
    @apply text-sm font-normal lg:text-lg;
  }

  .gradient-bg {
    @apply bg-gradient-to-r from-primary to-blue-600;
  }

  .blog h1 {
    @apply text-3xl sm:text-4xl font-bold mt-8 mb-4 text-gray-800;
  }

  .blog h2 {
    @apply text-2xl sm:text-3xl font-semibold mt-6 mb-3 text-gray-800;
  }

  .blog h3 {
    @apply text-xl sm:text-2xl font-semibold mt-5 mb-2 text-gray-800;
  }

  .blog h4 {
    @apply text-lg sm:text-xl font-medium mt-4 mb-2 text-gray-800;
  }

  .blog h5 {
    @apply text-base sm:text-lg font-medium mt-3 mb-1 text-gray-800;
  }

  .blog h6 {
    @apply text-sm sm:text-base font-medium mt-2 mb-1 text-gray-800;
  }

  /* Customizing typography for paragraphs */
  .blog p {
    @apply text-base leading-relaxed mb-4 text-gray-700;
  }

  /* Styling for images */
  .blog img {
    @apply w-full h-auto my-4 rounded shadow-md;
  }

  /* Customizing spacing for .blog elements */
  .blog .container {
    @apply mx-auto px-4 md:px-8 lg:px-16;
  }

  .blog .article-content {
    @apply mt-8 mb-16;
  }

  /* Custom styles for blockquotes */
  .blog blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic text-gray-600 my-4;
  }

  /* Custom styles for code blocks */
  .blog pre {
    @apply bg-gray-100 rounded p-4 overflow-x-auto my-4;
  }

  .blog code {
    @apply bg-gray-100 text-red-600 px-1 rounded;
  }

  /* Custom styles for lists */
  .blog ul {
    @apply list-disc pl-5 my-4;
  }

  .blog ol {
    @apply list-decimal pl-5 my-4;
  }

  .blog li {
    @apply mb-2;
  }

  /* Custom styles for links */
  .blog a {
    @apply text-blue-600 hover:underline;
  }
}

body {
  scroll-behavior: smooth;
}

.loader {
  width: 50px;
  aspect-ratio: 1.154;
  position: relative;
  background: conic-gradient(
    from 120deg at 50% 64%,
    #0000,
    #2e54ff 1deg 120deg,
    #0000 121deg
  );
  animation: l27-0 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  transform-origin: 50% 66%;
  animation: l27-1 1.5s infinite;
}
.loader:after {
  --s: -1;
}
@keyframes l27-0 {
  0%,
  30% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(120deg);
  }
  70.01%,
  100% {
    transform: rotate(360deg);
  }
}
@keyframes l27-1 {
  0% {
    transform: rotate(calc(var(--s, 1) * 120deg)) translate(0);
  }
  30%,
  70% {
    transform: rotate(calc(var(--s, 1) * 120deg))
      translate(calc(var(--s, 1) * -5px), 10px);
  }
  100% {
    transform: rotate(calc(var(--s, 1) * 120deg)) translate(0);
  }
}
